@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  background-color: #FEF3F0;
  color: #403C3C;
  font-family: Manrope;
}

body {
  background-color: #F0F0F5;
}